:root {
    background-color:grey;
}

.nav {
    background: #343f46;
    display:flex;
    align-items:flex-end;
}

.menu-button:hover {
    background: #293238
}
.menu-button {
    color: darkgrey;
    text-decoration: none;
    background: #343f46;
    padding: 15px 32px;
    text-decoration: none;
}

.home-button:hover {
    background: #293238
}
.home-button {
    color: darkgrey;
    text-decoration: none;
    background: #343f46;
    padding: 15px 32px;
    text-decoration: none;
    float:left;
}

.post-link.*:hover {
    background-color: #293238
}
.post-link {
    background-color: #343f46;
    * {
        color: darkgrey;
        text-decoration: none;
        background: #343f46;
    }
}

.topic-link {
    margin: 10px;
    background: #343f46;
    padding: 15px 32px;
    * {
        color: darkgrey;
        text-decoration: none;
    }
}

.new-post:hover {
    background: #293238;
}
.new-post {
    color: darkgrey;
    text-decoration: none;
    background: #343f46;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #343f46;
}
